body {
    font-family: 'altar';
    background-color: #0B192C;
    color: #333;
}
.header {
    background: #1E3E62;
    color: #333;
    padding: 10px 20px;
    box-shadow: 0 2px 5px #000000(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
    z-index: 10;
}
.logo-text {
    text-decoration: none;
    color: #fff;
}
.logo-text h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.navbar {
    display: flex;
    gap: 0px;
}
.nav-item {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #fff;
    border-left: none;
    display: block;
}
.nav-item:first-child {
    border-left: 1px solid #fff;
    border-radius: 5px 0 0 5px;
}
.nav-item:last-child {
    border-radius: 0 5px 5px 0;
}
.nav-item:hover {
    background: #FF6500;
}
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    min-height: 100px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.hero-content {
    padding: 20px;
}
.hero-content h1 {
    font-size: 30px;
    margin: 0 0 10px 0;
}
.hero-content p {
    font-size: 15px;
}
.vision-mission {
    background: #1E3E62;
    padding: 50px 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.vm-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.vm-card {
    color: #fff;
    flex: 1;
    min-width: 250px;
    text-align: center;
}

.vm-card h3 {
    font-size: 1.5rem;
    color: #fff;
}

.vm-card ul {
    color: #0B192C;
    list-style: none;
    padding: 0;
    text-align: left;
}

.vm-card li {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.simple-footer {
    background-color: #fff;
    color: #b7b7b7;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
}
.simple-footer p {
    margin: 0;
}
@media (max-width: 768px) {
    .header {
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .logo img {
        height: 40px;
    }

    .navbar a {
        padding: 6px 8px;
        font-size: 14px;
        white-space: nowrap;
    }

    .profile-banner {
        padding: 20px;
    }

    .banner-photo {
        height: 150px;
    }

    .profile-banner h1 {
        font-size: 1.8rem;
    }

    .profile-content {
        padding: 20px;
    }
    
    .profile-content h2 {
        font-size: 24px;
    }

    .vision-mission-container {
        flex-direction: column;
        gap: 15px;
    }
}
@font-face {
    font-family: 'altar';
    src: url('../Font/AlteHaasGroteskBold.ttf');
}