body {
    font-family: 'altar';
    background-color: #f4f4f4;
    color: #333;
}
.header {
    background: #fff;
    color: #124170;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-img {
    height: 40px;
    width: auto;
}
.navbar {
    display: flex;
    gap: 10px;
}
.navbar a {
    background-color: #26667F;
    color: #DDF4E7;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}
.navbar a:hover {
    background: #2c3e50;
    border-radius: 5px;
}
.hero-section {
    padding: 0;
    margin-bottom: 20px;
    background-color: #fff;
}
.profile-banner {
    background: #26667F;
    color: #fff;
    text-align: center;
    height: 578px;
    position: relative;
}
.banner-photo {
    width: 100%;
    height: 350px;
    background: url('https://via.placeholder.com/1366x250.png?text=Our+Company+Banner') no-repeat center center/cover;
    margin-bottom: 20px;
    border-radius: 5px;
}

.profile-content {
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.profile-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.vision-mission-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.vision-mission-container .card {
    flex: 1;
    min-width: 250px;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 5px;
}
.footer {
    text-align: right;
    padding: 20px;
    background: #fff;
    border-top: 1px solid #ccc;
    color: #777; 
    font-size: 10px;
}
@media (max-width: 768px) {
    .header {
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .logo img {
        height: 40px;
    }

    .navbar a {
        padding: 6px 8px;
        font-size: 14px;
        white-space: nowrap;
    }

    .profile-banner {
        padding: 20px;
    }

    .banner-photo {
        height: 150px;
    }

    .profile-banner h1 {
        font-size: 1.8rem;
    }

    .profile-content {
        padding: 20px;
    }
    
    .profile-content h2 {
        font-size: 24px;
    }

    .vision-mission-container {
        flex-direction: column;
        gap: 15px;
    }
}
@font-face {
    font-family: 'altar';
    src: url('../Font/AlteHaasGroteskBold.ttf');
}