body {
    font-family: 'alte';
    line-height: 1.6;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}
.header {
    background: #fff;
    color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-img {
    height: 40px;
    width: auto;
}
.navbar {
    display: flex;
    gap: 10px;
}
.navbar a {
    background-color: aquamarine;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;

    display: block;
}
.navbar a:hover {
    background: #e7e7e7;
    border-radius: 5px;
}
.hero-section {
    padding: 0;
    margin-bottom: 20px;
    background-color: #fff;
}
.hero-banner {
    background: url('../Gambar/Background.jpg');
    height: 578px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    color: #fff;
}
.hero-content {
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 100%;
}
@media (max-width: 768px) {
    .hero-banner {
        height: 300px;
    }

    .hero-content h1 {
        font-size: 2rem; 
    }

    .hero-content p {
        font-size: 1rem;
    }
}
@font-face {
    font-family: 'alte';
    src: url('../Font/AlteHaasGroteskBold.ttf');
}